* {
    font-family: "Poppins";
    font-style: normal;
    margin:0;
    box-sizing:border-box;
}

body {
    overflow:hidden;
}

.margin-center {
    padding: 0 100px;
}

:root {
    --orange-color: #FF922C;
    --green-color: #54BF29;
    
    --orange-bg: #FF922C;
    --green-bg: #54BF29;
    --peach-bg: #FFEEDE;
    --rice-flower-bg:#EAFFE2;

    --font-sm: 14px;
    --font-md: 18px;
}

