main {
    display:grid;
    grid-template-columns: 30% 70%;
}

.recipe-section {
    padding-top: 212px;
}

.recipe-section__price {
    font-weight: 600;
    font-size:44px;
}

.recipe-section__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    padding-bottom:12px;
}

.recipe-section__text {
    font-weight: 400;
    font-size:13px;
    line-height: 19,5px;
}

.recipe-section__btn {
    padding:14px;
    border-radius: 50%;
    display:inline-block;
}

.recipe-section__btn p{
    font-weight: 700;
    font-size:13px;
}