@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Poppins/Poppins-Medium.woff") format("woff"),
         url("../fonts/Poppins/Poppins-Medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Poppins/Poppins-Regular.woff") format("woff"),
         url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Poppins";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Poppins/Poppins-Bold.woff") format("woff"),
         url("../fonts/Poppins/Poppins-Bold.woff2") format("woff2");
  }