main {
    display:grid;
    grid-template-columns: 30% 70%;
}

.recipe-section__price {
    font-weight: 600;
    font-size:44px;
}

.recipe-section__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    padding-bottom:12px;
}

.recipe-section__text {
    font-weight: 400;
    font-size:13px;
    line-height: 19,5px;
}

.recipe-section__btn {
    margin:14px;
    display:inline-block;
    background-color:orange;
    border-radius: 69px;
}

.recipe-section__btn p{
    font-weight: 700;
    padding: 20px 50px;
    font-size:13px;
    color: #fff;
}